attrs==20.3.0
bcrypt==3.2.0
cffi==1.14.4
falcon==3.0.0b1
gunicorn==20.0.4
iniconfig==1.1.1
Jinja2==2.11.2
MarkupSafe==1.1.1
packaging==20.7
pluggy==0.13.1
psycopg2-binary==2.8.6
py==1.9.0
pycparser==2.20
pyparsing==2.4.7
pytest==6.1.2
redis==3.5.3
six==1.15.0
toml==0.10.2
