<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/base_style.css" type="text/css"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Roboto&display=swap" rel="stylesheet">
        <title>TodoLists - {% block title %}{% endblock %}</title>
    </head>
        <body>
            <div id="page-wrap">
                {% block header %}
                <header>
                    <img src="/public/icon-logo.svg" class="logo-icon">
                    <h1>TodoLists</h1>
                    <form action="/login" method="post" id="sign-in-button">
                        <button type="submit">Sign in</button>
                    </form>
                </header>
                {% endblock %}
                <main>
                    {% block main %}{% endblock %}
                </main>
                <footer>
                </footer>
            </div>
        </body>
</html>