{% extends "base.html" %}

{% block title %}E-mail verification{% endblock %}

{% block main %}
            <h2>Finish registration</h2>
            <p>A code was sent to your e-mail, enter it below:</p>
            <form action="/email_verification" method="post">
                <label for="token">6-digit code</label>
                <input type="number" max="999999" id="email_token" name="token"><br>
                <button type="submit">OK</button>
            </form>
            <p>This code will expire in 10 minutes.</p>
{% endblock %}