{% extends "base.html" %}
{% block title %}Sign up for free!{% endblock %}
{% block main %}
<main id="index-main">
    <div class="left-main">
        <div class="landing-page-list-item">
            <img src="/public/icon-list-big.svg" class="icon-list-big">
            Your personal todo lists manager app
            </div>
        <div class="landing-page-list-item">
            <img src="/public/icon-list-big.svg" class="icon-list-big">
            Have multiple todolists with multiple tasks to set
        </div>
        <div class="landing-page-list-item">
            <img src="/public/icon-list-big.svg" class="icon-list-big" >
            Simple and free. Enjoy!
        </div>
        <div id="landing-page-drawing">
            <img src="/public/landing-page-drawing.svg">
        </div>
    </div>
    <div id="sign-up-box">
        <p>Sign up for a free account!</p>
        <form action="/register" method="post">
            <label for="name">Enter your name:</label>
            <input type="text" id="name" name="name" required>
            <label for="email">Enter a valid email:</label>
            <div class="tooltip">
                <img src="/public/question-mark.svg">
                <span class="tooltiptext">A verification will be required.</span>
            </div>
            <input type="email" id="email" name="email" required>
            <label for="password_1">Enter a password:</label>
            <div class="tooltip">
                <img src="/public/question-mark.svg">
                <span class="tooltiptext">Password must be 6-30 characters long.</span>
            </div>
            <input type="password" id="password_1" name="password_1" required>
            <label for="password_2">Repeat the password:</label>
            <input type="password" id="password_2" name="password_2" required>
            <button type="submit">Sign up</button>
        </form>
    </div>
</main>
{% endblock %}