{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block main %}
    <h2>Login into your account</h2>
    <form action="/login" method="post">
        <label for="email">Username:</label>
        <input type="email" name="email">
        <label for="password">Password:</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
    <p>TODO: Did you forget your password?</p>
    <form action="/register" method="get">
        <button type="submit">Register</button>
    </form>
{% endblock %}