{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block header %}
<header>
    <a href="/">
        <img src="/public/icon-logo.svg" class="logo-icon">
        <h1>TodoLists</h1>
    </a>
    <form action="/" method="get" id="home-page-button">
        <button type="submit">Home Page</button>
    </form>
</header>
{% endblock %}

{% block main %}
<main id="login">
    <h2>Login into your account</h2>
    <form action="/login" method="post" id="login-form">
        <label for="email">Email:</label>
        <input type="email" name="email" class="login-input" required>
        <label for="password">Password:</label>
        <input type="password" name="password" class="login-input" required>
        <input type="submit" class="login-submit-button">
    </form>
    <div id="forget-password">
        <p>Did you forget your password?</p>
    </div>
</main>
{% endblock %}