<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo Lists - {% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <h1>Todo Lists</h1>
        </header>
        <nav>
            {% block nav %}{% endblock %}
        </nav>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>
            <h6>Joao Paulo F. Salviano</p>
        </footer>
    </body>
</html>