{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block nav %}{% endblock %}

{% block main %}
            <h2>Enter your personal info</h3>
            <form action="/register" method="post">
                <label for="username">Enter a username <span tooltip="Username must be 6-30 characters long, letters and numbers only.">?</span></label>
                <input type="text" id="username" name="username"><br>
                <label for="email">Enter a valid email (a verification will be required):</label>
                <input type="email" id="email" name="email"><br>
                <label for="password">Enter a password <span tooltip="Password must be 6-30 characters long.">?</span></label>
                <input type="password" id="password_1" name="password_1"><br>
                <label for="password_check">Re-enter the password:</label>
                <input type="password" id="password_2" name="password_2"><br>
                <button type="submit">Sign up</button>
            </form>
{% endblock %}