body {
    background-color: #2D2E30;
    position: absolute;
    padding-bottom: 3%;
}

header {
    display: flex;
    flex-direction: row;
    margin-left: 3%;
    margin-right: 3%;
}

.logo-icon {
    align-self: center;
}

header h1 {
    font-family: 'Carter One', arial;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    color: white;
    display: flex;
    margin: 1%;
}

#sign-in-button {
    width: 90px;
    height: 30px;
    position: absolute;
    right: 3%;
    background: #F2994A;
    border-radius: 6px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    align-self: center;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.015em;
    color: #2D2E30;
}

main {
    display: flex;
    justify-content: center;
}

.left-main {
    font-family: 'Roboto', arial;
    font-style: italic;
    font-size: 22px;
    color: white;
    max-width: 50%;
    margin-top: 3%;
    margin-right: 5%;
}

.landing-page-list-item {
    display: flex;
    margin-bottom: 20px;
}

.icon-list-big {
    align-self: center;
    margin-right: 1%;
}

#landing-page-drawing {
    margin-top: 10%;
    margin-left: 25%;
}

#sign-up-box {
    border-style: groove;
    border-color: white;
    width: 280px;
    height: 300px;
    border-radius: 10px;
    font-family: Roboto;
    color: white;
    display: flex;
    flex-direction: column;
}

#sign-up-box label, input, button {
    margin-left: 5%;
}

#sign-up-box p {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}

#sign-up-box input {
    display: flex;
    background-color: #2D2E30;
    border-radius: 5px;
    height: 20px;
    width: 240px;
    margin-top: 1%;
    color: white;
    font-family: Roboto;
    font-weight: bold;
}

#sign-up-box button {
    width: 90px;
    height: 30px;
    display: flex;
    margin-top: 4%;
    color: #2D2E30;
    background: #F2994A;
    border-radius: 6px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    align-self: center;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.015em;
    margin-left: 95px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    margin-block-start: 20px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    background-color: #F2994A;
    color: #2D2E30;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}