html {
    background-color: #2D2E30;
}

header h1 {
    position: absolute;
    width: 276px;
    height: 78px;
    left: 220px;
    font-family: 'Potta One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 65px;
    line-height: 78px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
}

header .logo-icon {
    position: absolute;
    width: 44.09px;
    height: 44.09px;
    left: 177px;
    top: 85px;   
}

